<%= render(partial: "layouts/base/start.ecr") %>

<%= render(partial: "layouts/base/navbar.ecr") %>

<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
  <%= render(partial: "layouts/base/sidebar.ecr") %>

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16"> 

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<%= render(partial: "layouts/base/end.ecr") %>