 
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/main.bundle.css">  
  <title>Welcome To Cleopatra</title>
</head>
<body class="bg-gray-100">
    <nav class="navbar navbar-expand navbar-dark bg-primary mb-3">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/dist/images/logo.svg" height="30" alt="Amber logo">
        </a>
        <ul class="navbar-nav mr-auto">
          <%= render(partial: "layouts/_nav.ecr") %>
        </ul>
        <ul class="navbar-nav">
          <%= render(partial: "layouts/_session.ecr") %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%- flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert">
          <%= flash[key] %>
        </div>
      <%- end %>

      <div class="main">
        <%= content %>
      </div>
    </div>
<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/dist/main.bundle.js"></script>
<!-- end script -->

</body>
</html>